* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    background-color: #e3e3e3;
    position: relative;
    font-family: 'Quicksand', sans-serif;
}

.menubar {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: white;
    position: relative;
}

.leftmenu {

    display: flex;
    flex-direction: row;
    margin-left: 80px;
    padding: 10px;
}

h1 {
    color: #3563e9;
}

.form {
    height: 30px;
    width: 250px;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 30px;
    padding: 2px;
    margin-top: 5px;
}

.form input[type=text] {
    width: 150px;
    background-color: white;
    border: none;
    margin-left: 10px;
}

.form img {
    margin-left: 20px;
    padding-top: 3px;
}

.form i {
    margin-left: 10px;
    padding-top: 5px;
}

.rightmenu {

    display: flex;
    flex-direction: row;
    padding: 10px;
    position: absolute;
    right: 85px;
}

.heart {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid rgb(231, 230, 230);
    padding: 2px;
    margin-left: 20px;

}

.profile {
    padding-left: 20px;
}


.arrow {
    width: 50px;
    height: 50px;
    background-color: #3563e9;
    position: absolute;
    top: 150px;
    right: 515px;
    padding: 15px;
    border-radius: 10px;
    z-index: 1;

}

.arrow span {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-left: 2px;
}

.topsplit {
    width: 100%;
    display: flex;
    flex-direction: row;

}

.leftsplit {
    width: 25%;
    margin-bottom: -60px;
    background-color: white;

}

.sidehead {
    font-size: 10px;
    color: #90a3bf;
    font-weight: bold;
    margin-left: 90px;


}

form {
    margin-left: 90px;


}

.leftsplit label {
    padding-top: 20px;
    line-height: 40px;
    font-size: 15px;
    color: #596780;
}

form label span {
    color: #90a3bf;
}

.curved {
    height: 10px;
    width: 150px;
    background-color: #3563e9;
    position: relative;
    margin: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;


}

.pricepic {
    display: flex;
    flex-direction: row;
    margin-left: 90px;
    margin-top: 20px;
}

.curved::after {
    background-color: white;
    content: " ";
    position: absolute;
    top: 0;
    left: 130px;
    bottom: 0;
    width: 20px;
    border-radius: 100px 0 0 100px;

}

.circle {
    height: 10px;
    width: 10px;
    background-color: #3563e9;
    border-radius: 5px;
    position: absolute;
    top: 645px;
    left: 224px;
    z-index: 1;
}

.curved2 {
    height: 10px;
    width: 50px;
    background-color: #90a3bf;
    position: relative;
    margin-left: -12px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;



}

.curved2::after {
    background-color: white;
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 10px;
    border-radius: 0 100px 100px 0;
}

.max {
    margin-top: 10px;
    margin-left: 90px;
    font-size: 12px;
    color: #596780;
}

.pickdrop {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pickup {
    width: 430px;
    height: 100px;
    border: 1px solid white;
    background-color: white;
    border-radius: 10px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    position: relative;
    margin-left: 30px;

}

.pickup img {
    position: absolute;
    top: 10px;

}

.pick {
    position: absolute;
    top: 10px;
    left: 40px;
    font-size: 12px;
    font-weight: 80px;
}

.location h5 {
    margin-top: 20px;

}

.location select {
    background-color: white;
    border: none;
    font-size: 10px;
    color: rgb(127, 161, 202);
    margin-left: -93px;
}
.date {
    margin-left: 30px;
    padding-left: 5px;
}

.date h5 {
    margin-top: 20px;
}

.date select {
    background-color: white;
    border: none;
    font-size: 10px;
    color: rgb(127, 161, 202);
    margin-left: -93px;
}

.time {
    padding-left: 20px;
}

.time h5 {
    margin-top: 20px;
}

.time select {
    background-color: white;
    border: none;
    font-size: 10px;
    color: rgb(127, 161, 202);
    margin-left: -92px;
}

.dropoff {
    width: 430px;
    height: 100px;
    border: 1px solid white;
    background-color: white;
    border-radius: 10px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    position: relative;
    margin-left: 30px;
}

.dropoff img {
    position: absolute;
    top: 10px;

}

.drop {
    position: absolute;
    top: 10px;
    left: 40px;
    font-size: 12px;
    font-weight: 80px;
}

.grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 30px;
    margin-top: 20px;
    row-gap: 50px;
    column-gap: 170px;
}

.box {
    height: 220px;
    width: 180px;
    border-radius: 5px;
    background-color: white;
    padding-left: 10px;
}

.box:hover {
    background-color: rgb(245, 240, 237);
    border: 1px solid rgb(252, 247, 247);
}

.box a {
    text-decoration: none;
    color: black;
}

.top {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}


.top img {
    margin-left: 70px;
}

.sport {
    font-size: 10px;
    color: #90a3bf;
    font-weight: bold;
    padding-top: 5px;
}

.car {
    margin-top: 30px;
    margin-left: 5px;
    margin-bottom: 20px;
}

.box span {
    font-size: 10px;
    padding: 2px;
    color: #90a3bf;
}

.rate {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.rate p {
    font-size: 15px;
    color: black;
    font-weight: bold;
}

.rate p span {
    color: #90a3bf;
}

.rate p span s {
    font-size: 10px;
    color: #90a3bf;
}

.rate button {
    background-color: #3563e9;
    margin-left: 25px;
    border: none;
    border-radius: 5px;
    padding: 2px;
    font-size: 10px;
    color: white;
    width: 65px;
    height: 25px;
}

.recomend {
    color: rgb(87, 105, 131);
    font-size: 12px;
    margin-left: 90px;
    margin-top: 20px;
}

.showcar {
    display: flex;
    flex-direction: row;
}

.showcar button {
    font-size: 12px;
    color: white;
    background-color: #3563e9;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 150px;
    margin-left: 250px;
    margin-top: 50px;
}

.showcar p {
    font-size: 12px;
    color: black;
    margin-left: 30px;
    margin-top: 50px;
    width: 120px;
    height: 30px;
    background-color: blue;
    border-radius: 5px;
    padding: 8px;
    font-weight: bold;
}

.showcar p:hover {
    background-color: rgb(128, 124, 124);
    opacity: 0.8;
}

.showcar a {
    color: white;
    text-decoration: none;

}

.showcar span {
    font-size: 10px;
    color: #90a3bf;
    margin-left: 330px;
    margin-top: 60px;
}

.bottom {
    background-color: white;
}

.bottomup {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;

}

.rightside {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 65px;
    margin-top: 50px;

}

ul {
    list-style-type: none;
    padding: 10px;

}

li {
    font-size: 12px;
    color: #131313;
    padding: 10px;
}

.leftside h3 {
    margin-left: 90px;
    color: #3563e9;
    margin-top: 50px;

}

.leftside p {
    margin-left: 90px;
    margin-top: 20px;
    font-size: 12px;
    color: #131313;
    line-height: 20px;
}

.about h5 {
    margin-left: 20px;
}

.foot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.privacy {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 65px;

}

.privacy p {
    font-weight: bold;
    padding: 20px;
}

.p {
    margin-left: 90px;
    margin-top: 20px;
    font-weight: bold;
}

.p span {
    font-size: 20px;
    font-weight: bold;
}

.rates {
    padding-top: 5px;
}

.ratedis {
    line-height: 12px;
}

hr {
    width: 88%;
    margin-left: 80px;
}

.rightsplit {
    margin-bottom: 30px;
    margin-top: 40px;
}