*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    background-color: #e3e3e3;
    position: relative;
    font-family: 'Quicksand', sans-serif;

}
.menubar{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: white;
    position: sticky;
    top: 0;
    left: 0;
}
.leftmenu{
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    padding: 10px;
}
h1 a{
   color: #3563e9;
   text-decoration: none;
}
.form{
    height: 30px;
    width: 250px;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 30px;
    padding: 2px;
    margin-top: 5px;
}
.menubar input[type=text]{
    width: 150px;
    background-color: white;
    border: none;
    margin-left: 10px;
    outline: none;
}
.form img{
    margin-left: 20px;
    padding-top: 3px;
}
.form i{
    margin-left: 10px;
    padding-top: 5px;
}
.rightmenu{
    
    display: flex;
    flex-direction: row;
    padding: 10px;
    position: absolute;
    right: 60px;
}
.rightmenu i{
    font-size: 25px;
    cursor: pointer;
    color: gray;
    padding-left: 7px;
    padding-top: 2px;
    margin-left: 10px; 
    width: 40px;
    transition: all 0.5s ease-in;
}
.rightmenu i:hover{
    color: blue;
    padding-bottom: 10px;   
    border-bottom: 2px solid blue;
    transform: translateY(-5px);
    
}
#profile{
    padding-left: 20px;
}
.topsplit{
    width: 100%;
    display: flex;
    flex-direction: row;

}
.leftsplit{
   width: 60%;
   max-height: 540px;
   overflow: scroll;
    margin-top: 30px;
    margin-left: 40px;
}
.billinginfo{
    background-color: white;
    border-radius: 10px;
    margin-right: 200px;
    padding: 15px;
}
.billdate{
    color: #596780;
    font-size: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    margin-top: 10px;
}
.first{
    display: flex;
    flex-direction: row;
}
.leftsplit label{
    font-size: 12px;
    color: black;
}
.billinginfo input{
    height: 40px;
    width: 270px;
    background-color: #f6f7f9;
    border-radius: 5px;
    border: none;
    padding: 15px;
    color: #596780;
    font-weight: bold;
    font-size: 10px;
    margin-top: 20px;
    
}
.pickup{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
#visa{
    margin-left: 410px;
}
.pickup h4{
    margin-left: 10px;
}
.rentalinfo h6{
    margin-bottom: 20px;
    margin-top: 20px;
}
.rightpart{
    margin-left: 40px;
}
.rentalinfo{
    background-color: white;
    border-radius: 10px;
    margin-right: 200px;
    padding: 15px;
}
select{
    height: 40px;
    width: 270px;
    background-color: #f6f7f9;
    border-radius: 5px;
    border: none;
    position: relative;
    color: #596780;
    font-weight: bold;
    font-size: 10px;
    
}
.payment{
    background-color: white;
    border-radius: 10px;
    margin-right: 200px;
    padding: 15px;
    margin-top: 20px;   
}
.paymentmethod{
    color: #596780;
    font-size: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    margin-top: 10px;   

}
.credit{
    background-color: #f6f7f9;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}
.creditcard{
   display: flex;
   flex-direction: row;
}
.creditcard h4{
    margin-left: 10px;
}
.credit label{
    font-size: 10px;
    color: black;
}
.credit input{
    height: 40px;
    width: 260px;
    background-color: white;
    border-radius: 5px;
    border: none;
    padding: 15px;
    color: #596780;
    font-weight: bold;
    font-size: 10px;
    margin-top: 20px;
    
}
.paypal{
    height: 40px;
    margin-top: 20px;
    background-color: #f6f7f9;
    border-radius: 5px;
    border: none;
    color: #596780;
    font-weight: bold;
    font-size: 10px;
    display: flex;
    padding-left: 10px;
    align-items: center;
    
}
.paypal img{
    margin-left: 440px;
}
.paypal label{
    margin-left: 10px;
}
.bitcoin{
    height: 40px;
    margin-top: 20px;
    background-color: #f6f7f9;
    border-radius: 5px;
    border: none;
    color: #596780;
    font-weight: bold;
    font-size: 10px;
    padding-left: 10px;
    padding-top: 15px;
    position: relative;
}
.bitcoin img{
    position: absolute;
    top: 15px;
    right: 10px
}
.bitcoin label{
 margin-left: 8px;
}
.confirmation{
    background-color: white;
    border-radius: 10px;
    margin-right: 200px;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 80px; 
}
.checkbox{
    height: 40px;
    margin-top: 20px;
    background-color: #f6f7f9;
    border-radius: 5px;
    border: none;
    color: black;
    font-weight: 100;
    font-size: 10px;
    padding: 10px;

}
.checkbox label{
    margin-left: 10px;
    cursor: pointer;
}
.confirmation button{
    width: 80px;
    height: 30px;
    color: white;
    background-color: #3563e9;
    border: none;
    border-radius: 15px;
    font-size: 12px;
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all .5s ease-in;
}
.confirmation h5{
    margin-top: 20px;
}
.para{
    font-size: 10px;
    color: #596780;
    margin-top: 10px;    
}
.rendalsummary{
    background-color: white;
    margin-left: 10px;
    margin-right: 20px;
    border-radius: 10px;
    padding: 20px;  
}
.rendalsummary p{
    font-size: 14px;
    color: #90a3bf;
    margin-top: 10px;
    line-height: 20px;
    
}
.nissan{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
}
.rightsplit{
    width: 35%;
    margin-top: 30px;
    margin-left: -40px;

}
.view{
  height: 180px;
  width: 200px;
  background-color: #3563e9;
  border-radius: 10px;
  border: 1px solid #3563e9;
  padding: 30px;
  margin-top: 10px;
  margin-left: -20px;
  margin-bottom: 20px;
}
#carview{
    margin-top: 30px;
}
.nissangt h3{
    margin-top: 50px;
}
.review{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: -10px;
}
.checked{
    color: orange;
}
.point{
    margin-top: 5px;
    font-size: 15px;
    font-weight: bold;
}
.review span{
    padding-left: 10px;
}
.viewhr{
    color: #c3d4e9;
    width: 400px;
    margin-left: 2px;
    margin-bottom: 10px;
} 
.subtotal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.apply{
    height: 40px;
    width: 410px;
    display: flex;
    justify-content: space-between;
    background-color: #e3e3e3;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.apply button{
    font-size: 12px;
    margin-right: 10px;
    border: none;
    background-color: #e3e3e3;
    cursor: pointer;
}
.apply p{
    padding-left: 10px;
}
.amount{
    color: black;
    font-size: 10px;
    margin-top: 10px;
}
.totalrent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.amt{
    font-size: 25px;
    color: black;
    font-weight: bold;
    margin-top: 10px;
}
.bottom{
    background-color: white;
}
.bottomup{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 30px; 
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 80px;
}
ul{
    list-style-type: none;
    padding: 10px;

}
li{
    font-size: 15px;
    color: #131313;
    padding: 10px;
}
.leftside h3{
    color: #3563e9;
    margin-top: 50px;
}
.leftside p{
    margin-top: 20px;
    font-size: 12px;
    color: #131313; 
    line-height: 20px;
}
.about h4{
    margin-left: 20px;
}
.foot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.foot p span{
    font-size: 20px; 
    font-weight: bold;
}
.privacy{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 50px;
}
.privacy p{
    font-weight: bold;
    padding: 20px;
}
.p{
    margin-left: 50px;
    margin-top: 20px;
    font-weight: bold;
}
hr{
    width: 92%;
    margin-left: 40px;
}
button:hover{
    box-shadow: 0.5px 0.5px 6px 6px rgba(201, 199, 199, 0.5);
    transform: scale(1.1);
}